div {
    background: #1B0088 0% 0% no-repeat padding-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    font-size: 61px;
    color: #FFFFFF;
}

img {
    margin-top: 20px;
}

a {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #1B0088;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 30px;
}