.top-bar {
    height: 48px;
    display: flex;
    background: #0C013B 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000059;
    justify-content: space-between;
    align-items: center;
}

.top-bar p {
    font-size: 12px;
    text-align: center;
    width: 50px;
    color: #FFFFFF;
    background: url('../../../assets/img/settings.svg') no-repeat center left -2%;
}