<div class="category">
    <h3>Categorias</h3>
    <ul>
        <li>
            <a routerLink="forms">
            Categoria 1</a>
        </li>
        <li>
            <a href="#">
            Categoria 2</a>
        </li>
        <li>
            <a href="#">
            Categoria 3</a>
        </li>
        <li>
            <a href="#">
            Categoria 4</a>
        </li>
        <li>
            <a href="#">
            Categoria 5</a>
        </li>
        <li>
            <a href="#">
            Categoria 6</a>
        </li>
        <li>
            <a href="#">
            Categoria 7</a>
        </li>
        <li>
            <a href="#">
            Categoria 8</a>
        </li>
        <li>
            <a href="#">
            Categoria 9</a>
        </li>
        <li>
            <a href="#">
            Categoria 10</a>
        </li>
    </ul>
</div>