<div class="category-box">
    <h3>Categorias</h3>
    <ul>
        <li>
            <a class="active" routerLink="forms">Categoria 1</a>
        </li>
        <li>
            <a>Categoria 2</a>
        </li>
        <li>
            <a>Categoria 3</a>
        </li>
        <li>
            <a>Categoria 4</a>
        </li>
        <li>
            <a>Categoria 5</a>
        </li>
        <li>
            <a>Categoria 6</a>
        </li>
        <li>
            <a>
            Categoria 7</a>
        </li>
        <li>
            <a>
            Categoria 8</a>
        </li>
        <li>
            <a>
            Categoria 9</a>
        </li>
        <li>
            <a>
            Categoria 10</a>
        </li>
    </ul>
</div>