p {
    margin-left: 20px;
    font-size: 23px;
    text-align: center;
    padding: 300px 0 0 0;
    color: #1D0088;
    width: calc(100vw - 660px);
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}