<div class="forms">
    <h4>Categoria 1</h4>
    <form class="form1">
        <label for="selectReport">Seleccione un reporte</label>
        <select id="selectReport">
            <option>Seleccione un reporte</option>
        </select>
        <input type="button" value="Acceder">
    </form>
    <form class="form2">
        <h5>Informacion requerida</h5>
        <div class="inputs">
            <label for="inputPeriod">Ingrese periodo</label>
            <input class="item1" placeholder="Ingrese periodo" id="inputPeriod" type="text">
            <div class="input-box">
                <label for="inputParameter1">Ingrese parametro 1</label>
                <input class="item2" placeholder="Ingrese parametro 1" id="inputParameter1" type="text">
                <label for="inputParameter2">Ingrese parametro 2</label>
                <input class="item3" placeholder="Ingrese parametro 2" id="inputParameter2" type="text">
            </div>
            <label for="inputFile">Ingrese archivo</label>
            <input class="item4" placeholder="Ingrese archivo" id="inputFile" type="text">
        </div>
        <div class="buttons">
            <input class="item5" type="submit" value="Planificar Reporte">
            <input class="item6" type="button" value="Ejecutar Reporte">
        </div>
    </form>
</div>